<ion-toolbar color="transparent">
</ion-toolbar>

<ion-content class="ion-padding">
  
  <div class="add-button-container">
    <ion-button expand="block" class="add-button" (click)="adicionar()">
      Adicionar
    </ion-button>
  </div>
  
  <ion-list class="item-list">
    <ion-item-sliding *ngFor="let novidade of novidades" class="item-sliding">
      <ion-item class="item-item">
        <div class="item-content">
          <span class="item-name">{{novidade.titulo}}</span>
          <div class="item-buttons">
            <ion-button size="small" class="edit-button" (click)="editar(novidade)">Editar</ion-button>
            <ion-button size="small" class="delete-button" (click)="excluir(novidade)">Excluir</ion-button>
          </div>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
