.cadastro-link {
  text-align: left;
  font-size: 0.8em;
  color: white;
  margin-top: 10px;
}

.cadastro-link-text {
  color: white;
  text-decoration: underline;
}

.cadastro-link-text:hover {
  color: #ccc;
}


.sub-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

