<ion-toolbar color="transparent">
</ion-toolbar>

<ion-content class="ion-padding">
  <div class="descricao-container">
    <img src="../../../assets/icon/Rectangle 26.svg" alt="ecoponto" width="100%" height="auto">
    <p class="descricao">É aqui uma das principais áreas da nossa plataforma. Esta página foi planejada para informar pontos seguros para
      descarte de resíduos de equipamentos eletroeletrônicos e os demais tipos de lixo.<br><br>
      No mapa abaixo, você consegue analisar e encontrar o Ecoponto mais perto de você:</p>
  </div>

  <div class="map-container">
    <div id="map" class="map" ></div>
  </div>
</ion-content>