.cadastro-container {
  align-self: end;
  text-align:end;
}

.cadastro-link {
  font-size: 0.8em;
  color: white;
  margin-top: 10px;
}

.cadastro-link-text {
  color: white;
  text-decoration: underline;
}

.cadastro-link-text:hover {
  color: #ccc;
}
