.form-container {
  width: 100%;
  height: 100%;
  background-color: #003554;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.contato-form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;

  input {
    --background: rgb(221, 237, 249);
    --border-radius: 15px;
    --border-style: none;
    --inner-border-width: 0;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
  }
}

.contato-item {
  color: #003554;
  margin-bottom: 20px;
  --background: #d3ecff;
  --border-radius: 15px;
  --border-style: none;
  --inner-border-width: 0;
  border-radius: 15px;
  padding: 10px;
}

.contato-button {
  display: block;
  --background: #d3ecff;
  --border-radius: 50px;
  --color: #003554;
  text-transform: none;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}