.data-publicacao {
  font-size: 0.625rem;
  color: gray;
}

.imagem-novidade {
  width: 100%;
  margin-top: 20px;
  height: auto;
  border-radius: 8px;
}

.texto-novidade {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-top: 12px;
  text-align: justify;
}
