.title {
  text-align: left;
  margin: 0px 0px 20px 0px;
  color: #003554;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
}

form {
  margin-top: 20px;
}

.form-item {
  color: #003554;
  margin-bottom: 20px;
  --background: rgba(140, 190, 227, 0.15);
  --border-radius: 15px;
  --border-style: none;
  --inner-border-width: 0;
  border-radius: 15px;
  padding: 10px;
}

.form-input {
  --color: #003554;
  font-family: 'Outfit', sans-serif;
}
